In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('match_summary.csv')

In [24]:
df

,match.id,team1,team2,team1.goals,team2.goals,team1.shots,team2.shots,team1.shots.target,team2.shots.target,team1.passes,...,team1.corners,team2.corners,team1.offsides,team2.offsides,team1.fouls,team2.fouls,team1.yellows,team2.yellows,team1.reds,team2.reds
0,2499719,Arsenal,Leicester City,4,3,27,7,10,4,513,...,9,4,6,2,9,12,0,1,0,0
1,2499720,Manchester City,Brighton & Hove Albion,1,0,12,6,3,2,682,...,10,3,1,6,9,6,2,0,0,0
2,2499721,Burnley,Chelsea,3,2,9,15,5,5,245,...,5,8,1,2,11,18,3,5,0,1
3,2499722,Crystal Palace,Huddersfield Town,0,2,11,8,3,6,291,...,12,9,0,2,7,19,1,3,0,0
4,2499723,Stoke City,Everton,0,1,10,8,1,3,205,...,7,6,6,2,10,13,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936,2058013,Sweden,England,0,2,6,11,3,2,280,...,1,6,2,1,11,7,2,1,0,0
1937,2058014,France,Belgium,1,0,17,9,5,2,282,...,4,5,1,1,8,16,2,3,0,0
1938,2058015,England,Croatia,0,1,8,14,0,4,245,...,3,5,3,0,9,17,1,1,0,0
1939,2058016,Belgium,England,2,0,11,14,4,5,427,...,4,5,1,0,12,5,1,2,0,0
1940,2058017,Croatia,France,2,2,14,7,3,5,429,...,6,2,1,1,13,13,1,2,0,0

In [25]:
team1 = [cols for cols in df.columns if cols.startswith('team1')]

In [26]:
team1

['team1',
 'team1.goals',
 'team1.shots',
 'team1.shots.target',
 'team1.passes',
 'team1.pass.acc',
 'team1.possession',
 'team1.corners',
 'team1.offsides',
 'team1.fouls',
 'team1.yellows',
 'team1.reds']

In [27]:
team2 = [i for i in df.iloc[:,1:].columns if i not in team1]

In [28]:
team2

['team2',
 'team2.goals',
 'team2.shots',
 'team2.shots.target',
 'team2.passes',
 'team2.pass.acc',
 'team2.possession',
 'team2.corners',
 'team2.offsides',
 'team2.fouls',
 'team2.yellows',
 'team2.reds']

In [15]:
team1 = df[team1]

In [16]:
team1.to_csv('team1info.csv')

In [31]:
team2 = df[team2]

ValueError: Boolean array expected for the condition, not object

In [33]:
team2.to_csv('team2info.csv')